<app-navbar></app-navbar>


<div class="container" style="width:100%">
    <div class="row" style="width:100%;display: flex;justify-content: center; margin-bottom: 15px;">
        <div class="col-sm-12" style="width:100%;display: flex;justify-content: center;">
            <button [ngClass]="{'greyish': page == 0}" (click)="showProfile()">Profile</button>
            <button [ngClass]="{'greyish': page == 1}" (click)="showWorkshops()">Previous Workshops</button>
            <button [ngClass]="{'greyish': page == 2}" (click)="showActions()">Likes & Comments</button>
            <button [ngClass]="{'greyish': page == 3}" (click)="showThreads()">Chat Threads</button>
        </div>
    </div>
    <div *ngIf="page == 0" class="row">
        <div class="col-sm-12 profil" style="width:100%;display: flex;justify-content: center;">
        <table>
            <tr>
                <td rowspan="6" style="padding-left: 0px; padding-right: 15px;">
                    <!-- image -->
                    <!-- <input  *ngIf="user._id == editable_user_id" type="file"  (change)="onChange($event)" accept="image/*, .jpeg, .png"> -->
                    <div *ngIf="user.image && editable_user_id == ''">
                        <img [src]="user.image" width="100px" height="100px"/>
                    </div>
                </td>
                <th> Username:&nbsp; </th>
                <td *ngIf="user._id != editable_user_id">{{user.username}}</td>
                <td *ngIf="user._id == editable_user_id"><input type="text" name="username" [(ngModel)]="username"></td>

                
            </tr>
            <tr>
                <th> Firstname:&nbsp; </th>
                <td *ngIf="user._id != editable_user_id">{{user.firstname}}</td>
                <td *ngIf="user._id == editable_user_id"><input type="text" name="firstname" [(ngModel)]="firstname"></td>
            </tr>
            <tr>
                <th> Lastname:&nbsp; </th>
                <td *ngIf="user._id != editable_user_id">{{user.lastname}}</td>
                <td *ngIf="user._id == editable_user_id"><input type="text" name="lastname" [(ngModel)]="lastname"></td>
            </tr>
            <tr>
                <th> Email:&nbsp; </th>
                <td *ngIf="user._id != editable_user_id">{{user.email}}</td>
                <td *ngIf="user._id == editable_user_id"><input type="text" name="email" [(ngModel)]="email"></td>
            </tr>
            <tr>
                <th> Phone:&nbsp; </th>
                <td *ngIf="user._id != editable_user_id">{{user.phone}}</td>
                <td *ngIf="user._id == editable_user_id"><input type="text" name="phone" [(ngModel)]="phone"></td>
            </tr>
            <tr *ngIf="user._id == editable_user_id">
                <th>Image:&nbsp;</th>
                <td>
                    <button style="padding: 1px; border-radius: 0px" (click)="removeImage()">Remove</button>
                    <input  type="file"  (change)="onChange($event)" accept="image/*, .jpeg, .png">
                </td>
                <td colspan="1">
                </td>
            </tr>
            <tr *ngIf="user._id == editable_user_id">
                <td colspan="4"><span style='color: red'>{{error}}</span></td>
            </tr>
        </table>
        <hr *ngIf="user._id == editable_user_id">
        <table *ngIf="user._id == editable_user_id">
            <!-- ovde je pre bio input za sliku -->
        </table>
         
      <hr>
      <table>
        <tr>
            <td *ngIf="user._id != editable_user_id">  <button (click)='editUser()' class="">Edit data</button> </td>
            <td *ngIf="user._id == editable_user_id">  <button (click)='commitUserChanges()' class="commit">Commit changes</button> &nbsp;  <button (click)='cancelEdit()' class="">Cancel</button> </td>
            <td *ngIf="user._id == editable_user_id">  </td>
        </tr>
      </table>
        </div>
    </div>
    <div *ngIf="page == 1" class="row">
        <div class="col-sm-12" style="width:100%;display: flex;justify-content: center;">
            <table>
                <tr>
                    <td>
                        <select [(ngModel)]="sortCriteria">
                            <option value="name">Name</option>
                            <option value="organizer">Organizer</option>
                            <option value="date">Date</option>
                            <option value="address">Address</option>
                        </select>
                    </td>
                    <td>
                        <select [(ngModel)]="sortDir">
                            <option [ngValue]="true">Ascending</option>
                            <option [ngValue]="false">Descending</option>
                        </select>
                    </td>
                    <td>
                        <button (click)="sort()">Sort</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" style="width:100%;display: flex;justify-content: center;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th><th>Organizer</th><th>Date</th><th>Address</th><th>Short description</th><th>Long description</th>
                    </tr>

                </thead>
                <tbody>

                    <tr *ngFor="let w of previousWorkshops">
                        <td>{{w.name}}</td>
                        <td>{{w.organizer.firstname}}&nbsp;{{w.organizer.lastname}}</td>
                        <td style="min-width:110px">{{w.date != null ? w.date.toString().split("T")[0] : ""}}</td>
                        <td>{{w.address}}</td>
                        <td style="max-width:300px">{{w.short_description}}</td>
                        <td style="max-width:300px">{{w.long_description}}</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    <div *ngIf="page == 2" class="row">
        <div class="col-md-6 col-sm-12 ">
            <div class="profil">
                <h3>My Likes</h3>
                <hr>
                <table class="likes">
                    <tr>
                        <td><b>Workshop name</b></td><td colspan="2"><b>Date</b></td>
                    </tr>
                    <tr *ngFor="let like of likes">
                        <td>{{like.name}}</td><td>{{like.date != null ? like.date.toString().split("T")[0] : ""}}</td>

                        <td><button (click)="unlike(like)" class="likebutton">Unlike</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <div class="profil">
                <h3>My Comments</h3>
                <hr>
                <div *ngFor="let c of comments;  let i = index" [attr.data-index]="i" class="comment" style="display: block; width: 100%;">
                    <table *ngIf="i != editable_index">
                        <tr>
                            <td colspan="1"><b>{{c.workshop.name}}</b> &nbsp;
                                <span style="color: rgb(108, 108, 108)">
                                    {{c.comment.timestamp != null ? c.comment.timestamp.toString().split("T")[0] : ""}}
                                    
                                    {{c.comment.timestamp != null ? c.comment.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                    + ":" + c.comment.timestamp.toString().split("T")[1].split(":", 2)[1]
                                    : ""}}
                                
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="commentContent" style="max-width:300px" >{{c.comment.content}}</div></td>
                            <td>
                                <button (click)="editComment(c, i)" [ngClass]="{'editButton': editable_index==-1, 'greyish':editable_index!=-1}">Edit</button>
                            </td>
                        </tr>
                    </table>
                    <table *ngIf="i == editable_index">
                        <tr>
                            <td colspan="1"><b>{{c.workshop.name}}</b> &nbsp;
                                <span style="color: rgb(108, 108, 108)">
                                    {{c.comment.timestamp != null ? c.comment.timestamp.toString().split("T")[0] : ""}}
                                    
                                    {{c.comment.timestamp != null ? c.comment.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                    + ":" + c.comment.timestamp.toString().split("T")[1].split(":", 2)[1]
                                    : ""}}
                                
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="commentContent" style="max-width:300px" >
                                <input type="text" [(ngModel)]="content" style="width:95%">
                                </div></td>
                            <td>
                                <button (click)="commitCommEdit()" class="commitButton">Update</button>
                                <button (click)="deleteComm()" class="deleteButton">Delete</button>
                                <button (click)="cancelEditComm()" class="">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="page == 3" class="row">
        <div class="col-md-1 col-sm-12 "></div>
        <div class="col-md-5 col-sm-12 ">
            <div class="profil" style="min-height: 500px;">
                <h4>All threads</h4>
                <hr>
                <div class="container" style="display: flex;width:100%;justify-content: center">
                    <div class="row" style="display: flex;width:100%;justify-content: center">

                        <div class="col-sm-12" *ngFor="let th of threads" style="display: block;width:100%;justify-content: left">
                     
                                <div class="kartica">
                                    <table>
                                        <tr>
                                            <td rowspan="2">
                                                <div>
                                                    <img class="personImage" [src]="th.organizer.image" width="50px" height="50px"/>
                                                </div>
                                            </td>
                                            <td width="240px">
                                                <b>{{th.organizer.firstname}}&nbsp;{{th.organizer.lastname}}</b> &nbsp;
                                            </td>
                                            <td rowspan="2">
                                                <button (click)="openThread(th)" style="margin-left:30px">Open</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class=""><i>{{th.workshop.name}}</i></div></td>
                                        </tr>
                                    </table>
                                </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 ">
            <div class="profil" style="min-height: 500px;">
                <div *ngIf="chatThread == null">
                    <i>Select one chat thread from the left menu.</i>
                </div>
                <div  *ngIf="chatThread != null" class="container" style="display: block; width: 100%;">

                    <div class="row" style="display: block; width: 100%;">
                        <div class="col-sm-12" style="display: block; width: 100%;">
                            <div *ngFor="let message of chatThread.thread.messages" class="comment" style="display: block; width: 100%;">
                                <table style="width:100%">
                                    <tr *ngIf="!isMe(message.sender_id)">
                                        <td rowspan="2">
                                            <div style="width:100%">
                                                <img class="personImageLeft" [src]="getUser(message.sender_id).image" width="50px" height="50px"/>
                                            </div>
                                        </td>
                                        <td><b>{{getUser(message.sender_id).firstname}}</b> &nbsp;
                                            <span style="color: rgb(108, 108, 108)">
                                                {{message.timestamp != null ? message.timestamp.toString().split("T")[0] : ""}}
                                                
                                                {{message.timestamp != null ? message.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                                + ":" + message.timestamp.toString().split("T")[1].split(":", 2)[1]
                                                : ""}}
                                            
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="isMe(message.sender_id)">
                                        <td><b>{{getUser(message.sender_id).firstname}}</b> &nbsp;
                                            <span style="color: rgb(108, 108, 108)">
                                                {{message.timestamp != null ? message.timestamp.toString().split("T")[0] : ""}}
                                                
                                                {{message.timestamp != null ? message.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                                + ":" + message.timestamp.toString().split("T")[1].split(":", 2)[1]
                                                : ""}}
                                            
                                            </span>
                                        </td>
                                        <td rowspan="2">
                                            <div>
                                                <img class="personImageLeft" [src]="getUser(message.sender_id).image" width="50px" height="50px"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="commentContent">{{message.content}}</div></td>
                                    </tr>
                                </table>
                            </div>

                           
                            <div class="commentSend" class="col-sm-12" style="display: block; width: 100%;">
                                <table class="commentSend">
                                    <tr>
                                        <td>

                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="message" placeholder="Type your message">

                                        </td>
                                        <td>
                                            <button class="commentButton" (click)="sendMessage()">Send message</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-1 col-sm-12 "></div>


    </div>
</div>
