<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 ">
            <div class="profil" style="min-height: 500px;">
                <button (click)="back()">Back</button> <hr>
                <h4>{{workshop.name}} - Chat</h4>
               
                <hr>
                <div class="container" style="display: flex;width:100%;justify-content: center">
                    <div class="row" style="display: flex;width:100%;justify-content: center">

                        <div class="col-sm-12" *ngFor="let th of threads; let i = index" style="display: block;width:100%;justify-content: left">
                     
                                <div class="kartica">
                                    <table>
                                        <tr>
                                            <td rowspan="2">
                                                <div>
                                                    <img class="personImage" [src]="th.participant.image" width="50px" height="50px"/>
                                                </div>
                                            </td>
                                            <td width="240px">
                                                <b>{{th.participant.firstname}}&nbsp;{{th.participant.lastname}}</b> &nbsp;
                                            </td>
                                            <td rowspan="2">
                                                <button (click)="openThread(th, i)" style="margin-left:30px">Open</button>
                                                <button (click)="closeThread(th, i)" style="margin-left:30px">Close</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let chatThread of threads; let i = index">

            <div class="col-lg-6 col-sm-12" *ngIf="opened[i]">
                <div class="profil" style="min-height: 500px;" >
                    <div class="container" style="display: block; width: 100%;">
    
                        <div class="row" style="display: block; width: 100%;">
                            <div class="col-sm-12" style="display: block; width: 100%;">
                                <div *ngFor="let message of chatThread.thread.messages" class="comment" style="display: block; width: 100%;">
                                    <table style="width:100%">
                                        <tr *ngIf="!isMe(message.sender_id)">
                                            <td rowspan="2">
                                                <div style="width:100%">
                                                    <img class="personImageLeft" [src]="getUser(chatThread, message.sender_id).image" width="50px" height="50px"/>
                                                </div>
                                            </td>
                                            <td><b>{{getUser(chatThread, message.sender_id).firstname}}</b> &nbsp;
                                                <span style="color: rgb(108, 108, 108)">
                                                    {{message.timestamp != null ? message.timestamp.toString().split("T")[0] : ""}}
                                                    
                                                    {{message.timestamp != null ? message.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                                    + ":" + message.timestamp.toString().split("T")[1].split(":", 2)[1]
                                                    : ""}}
                                                
                                                </span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="isMe(message.sender_id)">
                                            <td><b>{{getUser(chatThread, message.sender_id).firstname}}</b> &nbsp;
                                                <span style="color: rgb(108, 108, 108)">
                                                    {{message.timestamp != null ? message.timestamp.toString().split("T")[0] : ""}}
                                                    
                                                    {{message.timestamp != null ? message.timestamp.toString().split("T")[1].split(":", 2)[0] 
                                                    + ":" + message.timestamp.toString().split("T")[1].split(":", 2)[1]
                                                    : ""}}
                                                
                                                </span>
                                            </td>
                                            <td rowspan="2">
                                                <div>
                                                    <img class="personImageLeft" [src]="getUser(chatThread, message.sender_id).image" width="50px" height="50px"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="commentContent">{{message.content}}</div></td>
                                        </tr>
                                    </table>
                                </div>
    
                               
                                <div class="commentSend" class="col-sm-12" style="display: block; width: 100%;">
                                    <table class="commentSend">
                                        <tr>
                                            <td>
    
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="message[i]" placeholder="Type your message">
    
                                            </td>
                                            <td>
                                                <button class="commentButton" (click)="sendMessage(chatThread, i)">Send message</button>
                                            </td>
                                        </tr>
                            
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </ng-container>
    </div>
</div>