.col-sm-12 {
    display: flex;
    justify-content: center;
    
}

.mytable {
    margin: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 10px 8px #d4d4d4;
    margin-bottom: 20px;
    /* width: 100%; */
}

tr:hover {
    color:rgb(110, 110, 110);
}

.pic {
    margin: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 8px #d4d4d4;
    margin-bottom: 20px;
}

.pic:hover {
    box-shadow: 5px 10px 8px #949494;
}

/*******************************************/

.likes {
    background-color: rgb(200, 52, 52);
    color: rgb(255, 255, 255);
}

.commentContent {
    margin: 5px;
    background-color: rgb(196, 196, 196);
    border-radius: 13px;
    padding: 10px;
    box-shadow: 5px 10px 8px #d4d4d4;
    margin-left: 0px;
    margin-top: 0px;
}

.personImageRight {
    border-radius: 33px;
    margin-right: 10px;
    box-shadow: 5px 10px 8px #d4d4d4;
}

.personImage {
    border-radius: 33px;
    margin-right: 10px;
    box-shadow: 5px 10px 8px #d4d4d4;
}

.personImageLeft {
    border-radius: 33px;
    margin-left: 20px;
    box-shadow: 5px 10px 8px #d4d4d4;
}

.comment {
    margin-bottom: 10px;
}

.commentButton {
    padding-bottom: 2px;
    padding-top: 2px;
 
}

.commentSend {
    margin-top: 40px;
}

