.col-sm-12 {
    display: flex;
    justify-content: center;
    
}

.mytable {
    margin: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 10px 8px #d4d4d4;
    margin-bottom: 20px;
}

tr:hover {
    color:rgb(11, 26, 155);
}

.pic {
    margin: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 8px #d4d4d4;
    margin-bottom: 20px;
}

.pic:hover {
    box-shadow: 5px 10px 8px #838bb5;
}

