<app-navbar></app-navbar>
<div>
    <table>
        <tr>
            <td>
                <h3>Reset password form</h3>
            </td>
        </tr>
        <tr>
            <td>Please enter your email address:</td>
            <td>
                <input type='text' name='email' [(ngModel)]='email'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button (click)='sendResetLink()'>Send temporary link</button>
            </td>
        </tr>
    </table>
    <span style='color: red'>{{error}}</span><span style='color: rgb(21, 158, 57)'>{{message}}</span><br>
</div>